<!DOCTYPE html>

<%- include('../partials/head'); %>

    <body class="container">

        <%- include('../partials/header'); %>

            <main>
                <div class="jumbotron">
                    <h1>Node with EJS</h1>
                    <p>Let's learn and work with ejs files.</p>
                    <p><%= subtitle %></p>
                </div>

                <ul>
                    <% qualitys.forEach(function(i){ %>
                        <li>
                            <strong><%= i.title %></strong><%= i.message %>
                        </li>
                    <% }); %>
                </ul>

            </main>

            <%- include('../partials/footer'); %>

    </body>

    </html>